@{
    var count = 0;
    var semesterId = int.Parse(Context.Request.Query["semesterId"]);
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Lectors</th>
        </tr>
    </thead>
    @foreach (var subject in Model)
    {count++;
        <tbody>
            <tr>
                <th scope="row">@count</th>
                <td>@subject.Name</td>
                <td>
                    @string.Join(", ", subject.Lectors)
                    <a class="ml-2" asp-controller="Semesters" asp-action="AddLector" asp-route-subjectId="@subject.Id" asp-route-semesterId="@semesterId" style="font-size: 1.5em;">
                        <i class="fas fa-plus"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    }
</table>
<a asp-controller="Subjects" asp-action="Create"  asp-route-semesterId="@semesterId" class="btn btn-secondary m-4 w-auto">
    Create
</a>
