@{
    this.ViewData["Title"] = "Themes";
    var subjectName = @Context.Request.Query["subjectName"];
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">@this.ViewData["Title"]</h1>
    </div>

    <ul class="list-group list-group-flush mt-3">
        @foreach (var theme in Model)
        {
            <li class="list-group-item">
                <h3 class="ml-1">@theme.Title</h3>
                <p class="ml-2">@Html.Raw(theme.SanitizedDescription)</p>
                @foreach (var file in theme.Files)
                {
                    <a class="ml-3" href="@file.CloudinaryFileUri" target="_blank">@file.FileDescription</a>
                }
            </li>
        }
    </ul>
    <a class="btn btn-secondary m-4 w-auto" asp-controller="Themes" asp-action="Create" asp-route-subjectName="@subjectName">
        Create
    </a>
</div>
