@{
    this.ViewData["Title"] = "Exams";
    var subjectName = Context.Request.Query["subjectName"];
    var role = Context.Request.Query["role"];
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">@this.ViewData["Title"]</h1>
        @if (this.TempData["message"] != null)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                @this.TempData["message"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    </div>

    <ul class="list-group list-group-flush mt-3">
        @foreach (var exam in Model)
        {
            <li class="list-group-item">
                <h3 class="ml-1">@exam.Title</h3>
                <p class="ml-2">@Html.Raw(exam.SanitizedDescription)</p>
                @foreach (var file in exam.Files)
                {
                    <span style="font-size: 1.5em;">
                        <i class="fas fa-file-download"></i>
                    </span>
                    <a class="ml-3" href="@file.CloudinaryFileUri" target="_blank">@file.FileDescription</a>
                }

                <div class="text-center">
                    @if (exam.Type == "OnlineTest")
                    {
                        @if (role == "Lector")
                        {
                            <a class="btn btn-primary m-4 ml-5 w-25" asp-controller="Exams" asp-action="CreateOnlineTest" asp-route-subjectName="@subjectName" asp-route-examId="@exam.Id">
                                Create Test
                            </a>
                        }
                        foreach (var test in exam.OnlineTests)
                        {
                            <a class="btn btn-primary mb-2 ml-5 w-25" asp-controller="Exams" asp-action="StartTest" asp-route-onlineTestId="@test.Id">
                                Start Test
                            </a>
                            @if (role == "Lector")
                            {
                                <a class="btn btn-primary m-4 ml-5 w-25" asp-controller="Exams" asp-action="SendedTests" asp-route-onlineTestId="@test.Id">
                                    Sended Tests
                                </a>
                            }
                        }
                    }
                    else if (exam.Type == "OnlineExam")
                    {

                        <p>Open: @exam.Open</p>
                        <p>Close: @exam.Close</p>
                        @if (role == "User")
                        {
                            <a class="btn btn-secondary m-1 w-auto" asp-controller="Exams" asp-action="SendSolution" asp-route-subjectName="@subjectName" asp-route-examId="@exam.Id">
                                Send Solution
                            </a>
                        }
                        else if (role == "Lector")
                        {
                            <a class="btn btn-secondary m-1 w-auto" asp-controller="Exams" asp-action="SendedSolutions" asp-route-subjectName="@subjectName" asp-route-examId="@exam.Id">
                                Sended Solutions
                            </a>
                        }
                    }
                    else if (exam.Type == "PresentExam")
                    {
                        if (role == "Lector")
                        {
                            <a class="btn btn-secondary m-1 w-auto" asp-controller="Exams" asp-action="AllStudents" asp-route-subjectName="@subjectName" asp-route-examId="@exam.Id">
                                List of students
                            </a>
                        }
                    }
                </div>
            </li>
        }
    </ul>

    @if (role == "Lector")
    {
        <a class="btn btn-secondary m-4 w-auto" asp-controller="Exams" asp-action="Create" asp-route-subjectName="@subjectName">
            Create New Exam
        </a>
    }
</div>
