@model BeStudent.Web.ViewModels.Exam.QuestionViewModel
@{
    this.ViewData["Title"] = "Question ";
    var portocol = Context.Request.Scheme;
    var path = $"{portocol}://{Context.Request.Host}/Exams/{Model.OnlineTestId}/FinishTest";
    var number = int.Parse(Context.Request.Path.Value.Split("/").LastOrDefault()) + 1;
    var firstAnswer = Model.Answers.FirstOrDefault();
    var type = firstAnswer.Type.ToString();
    var isRadioButtons = type == "RadioButtons";
    var answerId = firstAnswer.Id;
}

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });
</script>

<div class="container">
    <div class="text-center">
        <h3>Question @number</h3>
    </div>

    <input type="hidden" id="seconds" value="@Model.RemainSeconds">
    <input type="hidden" id="path" value="@path">
    <p class="Timer"></p>
    <br />
    <div class="card mb-3">
        <div class="card-body text-white bg-secondary">
            <h5 class="card-title content">@Model.Condition</h5>
            @if (Model.File != null)
            {
                <img src="@Model.File.CloudinaryFileUri" alt="@Model.File.FileDescription" style="width:500px;height:200px;">
                <br />
            }
            <form method="post" asp-action="SolveQuestion" asp-route-onlineTestId="@Model.OnlineTestId" asp-route-type="@type" asp-route-answerId="@answerId" asp-route-remainSeconds="@Model.RemainSeconds" asp-route-secondsBefore="@Model.SecondsBefore" enctype="multipart/form-data">
                @if (isRadioButtons == true)
                {
                    <div class="content">
                        @foreach (var answer in Model.Answers)
                        {
                            <input type="radio" asp-for="Value" value="@answer.Text" /> @answer.Text<br />
                        }
                    </div>
                }
                else if (type == "InputFieldUp20Chars")
                {
                    <div>
                        <input asp-for="Value" class="form-control" />
                        <span asp-validation-for="Value" class="text-danger"></span>
                    </div>
                }
                else if (type == "InputFieldTiny")
                {
                    <div>
                        <textarea asp-for="Value" class="form-control"></textarea>
                        <span asp-validation-for="Value" class="text-danger"></span>
                    </div>
                }

                <input type="submit" class="btn btn-primary mt-4" value="Next" />
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            let now = $('#seconds').val();
            let start = new Date($.now());
            let isEnd = false;
            setInterval(function () {
                let mins = Math.ceil((now - Math.ceil((new Date($.now()) - start) / 1000)) / 60);
                let sec = (now - Math.ceil((new Date - start) / 1000)) % 60;
                if (mins == 0) {
                    sec += 59;
                }
                if (mins == 0 && sec == 0) {
                    isEnd = true;
                }
                if (isEnd) {
                    $('.Timer').text("Remaining time: " + "0:00");
                    let path = $('#path').val();
                    window.location.replace(path);
                } else {
                    if (sec < 10) {
                        $('.Timer').text("Remaining time: " + mins + ":0" + sec);
                    } else {
                        $('.Timer').text("Remaining time: " + mins + ":" + sec);
                    }
                }
            }, 1000);
        });
    </script>
}