@model BeStudent.Web.ViewModels.Payment.PaymentCourseViewModel
@{
    this.ViewData["Title"] = $"Next semester to start learning!";
    var semester = Model.Semester;
    var remain = (semester.Year % 100) + 1;
    var semesterName = $"{semester.Year} / {remain} {semester.SemesterType} semester {semester.Number}";
}

<div class="container">
    <div class="text-center">
        <h2 class="display-4">@this.ViewData["Title"]</h2>
        <h3>@semesterName</h3>

        <div id="Partials" class="p-2 flex-grow-1 w-100 flex-fill bd-highlight">
            <ul class="list-group list-group-flush mt-3">
                @foreach (var subject in Model.Semester.Subjects)
                {
                    <li class="list-group-item">
                        <h3 class="ml-1">@subject.Name</h3>
                        <p class="ml-2">@subject.Price</p>
                    </li>
                }
                <li class="list-group-item">
                    <hr />
                    <h3 class="ml-2">Total price: @Model.Price</h3>
                </li>
            </ul>
            <a class="btn btn-lg btn-primary m-4 w-auto" asp-controller="Payments" asp-action="Pay" asp-route-attemptId="@Model.PaymentAttemptId">
                PayPal
            </a>
        </div>
    </div>
</div>

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <div class="dropdown">
        <button class="btn btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Semesters of @Model.Name
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#"></a>
        </div>
    </div>*@